<div class="contenedios">
<footer>
				
<div class="contenedorF">
			
			    <div class="c1">
				<h1>Más información</h1>
                
                <p>Portal Cómics es una tienda especializada en el comercio de cómics japoneses o <i>mangas</i>. Contamos con un amplio catálogo de cómics, ya sea de editoriales nacionales o internacionales y de todos los géneros. ¡No dudes en hacernos tus consultas!</p>
        
			</div>
                
                </a>

			    <div class="c2">
				<h1>Redes sociales</h1>

				<div class="fila">
                    <a href="#"><i class="iconosocial fab fa-facebook-square"></i></a>
					<label>Síguenos en Facebook</label>
				</div>

				<div class="fila">
                    <a href="#"><i class="iconosocial fab fa-instagram"></i></a>
					<label>Síguenos en Instagram</label>
				</div>
				
				<div class="fila">
                    <a href="#"><i class="iconosocial fab fa-twitter"></i></a>
					<label>Síguenos en Twitter</label>
				</div>
			</div>

    			<div class="c3">
				<h1>Contacto</h1>

				<div class="contacto">
					<i class="icon fas fa-home"></i>
					<label>Núñez 1277, Dock Sud</label>
				</div>

				<div class="contacto">
					<i class="icon fas fa-phone"></i>
					<label>+54-011-40249929</label>
				</div>

				<div class="contacto">
					<i class="icon fas fa-envelope"></i>
					<label>portalcomics@gmx.com</label>
				</div>
			</div>

</div>
						
</footer>
</div>