
    <div class="container-all">

        <input type="radio" id="1" name="image-slide" hidden/>
        <input type="radio" id="2" name="image-slide" hidden/>
        <input type="radio" id="3" name="image-slide" hidden/>

        <div class="slide">

            <div class="item-slide">
                <img src="images/slider/1.jpg">
            </div>

            <div class="item-slide">
                <img src="images/slider/2.jpg">
            </div>

            <div class="item-slide">
                <img src="images/slider/3.jpg">
            </div>

        </div>

        <div class="pagination">
           
            <label class="pagination-item" for="1">
                <img src="images/slider/1.jpg">
            </label>
            
            <label class="pagination-item" for="2">
                <img src="images/slider/2.jpg">
            </label>
            
            <label class="pagination-item" for="3">
                <img src="images/slider/3.jpg">
            </label>
            
        </div>
        
    </div>