.containerCart {
  display: flex;
  height: 500px;
  justify-content: center;
}
.containerCart section:first-child {
  width: 65%;
  height: 100%;
  overflow: auto;
}
.containerCart section:last-child {
  width: 20%;
  height: 100%;
}
.sectionResume {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.sectionResume > p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.divResume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.divResume p {
  margin: 5% 0%;
  font-size: 20px;
}
.valueText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.botoncomprar {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
}

.botoncomprar .btn_comprar {
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(7, 177, 7);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
  transition: 0.3s all ease;
  letter-spacing: 0.1rem;
  font-size: 1.5em;
  position: relative;
  top: 0;
  right: 0;
  width: 95%;
  min-width: 220px;
  min-height: 60px;
}

.botoncomprar .btn_comprar:hover {
  box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);
  cursor: pointer;
  background-color: rgb(5, 170, 5);
}
.productCart {
  display: flex;
  height: 250px;
  justify-content: center;
}

.productCart input {
  font-size: 20px;
  text-align: center;
  width: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.productCart > div {
  width: 18%;
  height: 250px;
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.productCart img {
  width: auto;
  height: 220px;
}

.productDetails {
  flex-direction: column;
}
.productDetails div {
  text-align: left;
}

.empty {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  .containerCart {
    flex-direction: column;
    height: unset;
  }
  .containerCart section:last-child {
    width: 100%;
    height: 100%;
  }
  .sectionResume {
    border-left: unset;
  }
  .containerCart section:first-child {
    width: 100%;
  }

  .productCart {
    flex-wrap: wrap;
  }
  .productCart > div {
    width: 100%;
    height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}

.emptyCart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}