*{padding: 0;
margin:0; 
font-family: 'Oswald', sans-serif;
 }

.cuerpo{
    width: 90%;
    margin:0 auto;

}


.contenedor{
    margin: 0 auto;
    width: 90%;
    display:grid;
    
}

.filtros{
    background: #FFFFFF;
    width: 100%;
    grid-column:1;
    min-width: 200px;
}

.whitespace_1{
    grid-column:2;
    width: 20px;
}

.caja{
    width: 100%;
    color:black; 
    margin:5px;
    padding: 5%;
       
}

.caja li{
    margin: 0 5%;
    list-style: none;
   
}


.caja li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;

}
.caja li a:hover{
    color: rgba(0, 150, 0, 0.7);
}


.productos {
    background:#FFFFFF;
    width: 100%;
    min-width: 800px;
    grid-column: 3/ span 4;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


.productos article {
    display: block;
    min-width: 250px;
    max-width: 250px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    flex: 1;
    flex-basis: auto;
    max-height: 800px; 
    
   
}


.productos article:hover{
    border: 1px solid rgba(133, 134, 134, 0.5);

}


.productos article a >img{   
    
    width: 80%;
    height: 70%;
    padding-bottom: 3%;
 }

.productos article > h2{
    font-size: 1.5em;
    
}

.productos article > h3, h4{
    color: rgb(131, 131, 131);

}

.productos article > h3{
    font-size: 2em;
}



.filtroMobile{
    display: none;
}

.cpaginas{
    width:90%;
    margin-bottom: 15%;
}

.cpaginas ul{
    margin: 0 auto;
    float: right;
}

.cpaginas ul li{
    display: inline;
}

.cpaginas ul li a{
    font-size: 2em;
}



@media (max-width: 1200px) {

    .filtros{
        min-width: 200px;
    }

    .filtroMobile{
        display: block;
    }

     .whitespace_1{
         display: none;
     }

     .productos{
         min-width: 0;
     }

     .productos article{
        min-width: 150px;
        max-width: 150px;
     }
     .productos article a >img{   
    
        width: 80%;
        height: 65%;
       
     }

     .productos article:hover{
        border: none;
    
    }
    
}

@media (max-width:900px){
    .filtros{
        display:none;
    }

}