section{
    display: flex;
    justify-content: center;
}

section .elemento{
    display: flex;
    justify-content: center;
    width: 45%;
}

iframe{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
}

.formulario {
    padding: 30px;
    margin-bottom: 30px;
    }

.formulario .form-group {
    width: 100%;
    margin-bottom: 10px;
}

.formulario .form-group input{
    border: 1px solid rgba(86, 87, 86, 0.4);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 48px;
}

.formulario input {
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 18px;
    border: none;
    width: 80%;
}

#icono{
    padding: 15px;
    text-align: center;
    width: 48px;
    margin: 1% 0px;
    max-height: 48px;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

 .botoncomprar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 50px;
}

 .botoncomprar .btn_comprar{
        margin: auto;
        padding: 1rem;
        text-transform: uppercase;
        color: #fafafa;
        background-color: rgb(7, 177, 7);
        border: none;
        border-radius: 3px;
        box-shadow: 1px 1px 10px rgba(50,50,50,.4);
        transition: .3s all ease;
        letter-spacing: .1rem;
        font-size: 1em;
        position: relative;
        top: 0;
        right: 0;
        min-width:50px;
        min-height: 70px; 
      
}
     
       .botoncomprar .btn_comprar:hover {
          box-shadow: 1px 1px 20px rgba(150,150,150,.2);
          cursor: pointer;
          background-color: rgb(5, 170, 5);
        }
        .contactText{
            resize: none;
            padding: 1%;
            border-radius: 10px;
        }
@media (max-width:900px){
            section{
                flex-direction: column;
            }

            section .elemento{
                width: 100%;
                display: flex;
                
            }


            .formulario {
                padding: 30px;
                margin-bottom: 30px;
                width: 100%;
            }

            .formulario input {
                font-family: 'Oswald', sans-serif;
                font-size: 18px;
                line-height: 18px;
                border: none;
                width: 70%;
            }

            iframe{
                width: 100%;
                border-radius: 10px;
            }
            
            .contactText{
                width: 90%;
            }
        }