.cajaFiltrosM{
    display: none;
    background:white;
    width: 100%;
    padding: 5%;
}
.filtrosM{
    width: 85%;
    margin:0 auto;
    height: 70%;
    background: rgb(202, 210, 212, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.filtrosM ul{
    list-style: none;
}

.filtrosM ul li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
    border-bottom: 2px solid black;
}

.filtrosM ul li a{
    font-size: 2em;
}


@media (max-width:900px){
    .cajaFiltrosM{
        display: block;
    }
}