.contenedios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    position: static;
    margin: 0 auto;
    margin-top: 5%;
}

footer {
    width: 100%;
    background: rgb(13, 20, 20);
    color: white;
    padding: 20px;
    font-family: sans-serif;

} 


.contenedorF {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.c1 {
    max-width: 400px;
    padding: 5px;
}

.c1 h1 {
    font-size: 22px;
}

.c1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
    text-align: justify;
}

.c2 {
    max-width: 400px;
    padding: 5px;
}

.c2 h1 {
    font-size: 22px;
}

.fila {
    margin-top: 20px;
    display: flex;
}

.fila .iconosocial {
    width: 36px;
    height: 36px;
    color: white;
}

.fila label {
    margin-left: 5px;
    color: #C7C7C7;
}

.c3 {
    max-width: 400px;
    padding: 5px;
}

.c3 h1 {
    font-size: 22px;
}

.contacto {
    margin-top: 20px;
    display: flex;
}

.contacto .icon {
    width: 36px;
    height: 36px;
}

.contacto label {
    margin-left: 20px;
    max-width: 400px;
    margin-top: 10px;
}

@media screen and (max-width: 1100px) {
    .contenedorF {
        flex-wrap: wrap;
    }
    
    .c1 {
        max-width: 100%;
    }
}