.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
	line-height: 25px;
	height: 150px;
}

.flex-container > div {
  width: 100%;
  text-align: center;
  margin: 1%;
}



.buscar {
	width: 90%;
	padding: 15px;
	border: 1px solid rgb(190, 190, 190);
	border-radius: 5px;
	margin: 10px auto;
	background: rgb(255, 255, 255);
}

.buscar input[type="text"]{
	width: 93%;
	padding: 3px;
	border: 0;
	background: rgb(255, 255, 255);
	outline: none;
	font-size: 1.2em;
}

.buscar button{
	float: right;
	border:none;
	background: white;
}
.buscar button:hover{
	cursor: pointer;
}

.svg-inline--fa.fa-search.fa-w-16{
	width: 20px;
	height: 35px;
}


.carrito{
	display: inline-block;
	margin: 1%;

}

.cuenta{
	display: inline-block;
	margin: 1%;
}

@media (max-width: 1200px) {
      	
.flex-container > div {
	width: 100%;
	
	
  }
  .item2 a img{
		float:center;
		height: 100px;
		width: auto;
		margin-top: 3%;
}

	 }
	 
@media (max-width: 1200px){
	.item1{
		display: none;
	}

	.item3{
		display: flex;
		flex-flow: row nowrap;
	}

	.flex-container{
		max-height: 100px;
	}

	.carrito{
		float:left;
		margin: 10%;
		min-width: 30px;
	}

	.carrito p{
		display: none;
	}

	.cuenta{
		float: left;
		margin: 10%;
		min-width: 30px;
	}
	.cuenta p{
		display: none;
	}

	.buscar {
		float:left;
		margin: 10px;
	}
}