.productos {
    background:#FFFFFF;
    width: 90%;
    margin:0 auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


.productos article {
    
    min-width: 250px;
    max-width: 250px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    flex: 1;
    flex-basis: auto;
    max-height: 800px;
    
   
}


.productos article:hover{
    border: 1px solid rgba(133, 134, 134, 0.5);

}


.productos article a >img{   
    
    width: 80%;
    height: 70%;
    padding-bottom: 3%;
 }

.productos article > h2{
    font-size: 1.5em;
    
}

.productos article > h3, h4{
    color: rgb(131, 131, 131);

}

.productos article > h3{
    font-size: 2em;
}



@media (max-width:1200px) {
    .productos article{
        min-width: 150px;
        max-width: 150px;
     }
     .productos article a >img{   
    
        width: 100%;
        height: 65%;
       
     }


     
     .productos article:hover{
        border: none;
    
    }
    
   

}