.nav_m {
	width:90%;
	/* max-width: 1600px;; */
	margin:20px auto;
	background:#303131;
	z-index:1000;
}
 
.menu_bar_m {
	display:none;
}
 
.nav_m ul {
	overflow:hidden;
	list-style:none;
}
 
.nav_m ul li {
	float:left;

}
 
.nav_m ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

.nav_m ul li span {
	margin-right:10px;
}
 
.nav_m ul li a:hover {
	background:rgb(56, 56, 56);
}
 
section {
	padding:20px;
}

.filtroMobile{
    display: none;
}

.boxFloat{
	float: right;
} 

.boxFloat li a:first-child{
	border-right: 1px solid white;

}
*::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
*::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
@media screen and (max-width:800px ) {

	.filtroMobile{
		display: block;
	}

	.nav_m {
		width:100%;
		left:-100%;
		margin:0;
		position: absolute;
	}
 
	 .nav_m ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar_m {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar_m .bt-menu_m {
		display:block;
		padding:20px;
		background:#303131;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar_m span {
		float:right;
		font-size:40px;
	}
	.boxFloat{
		float: unset;
	} 
	.boxFloat li a:first-child{
		border-right: unset;
	
	}
	
}
