* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
    display: flex;
    width: 90%;
    height: 80vh;
    box-sizing: border-box;
    margin: 0 auto;
}

.box {
    flex: 1;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.20);
    line-height: 0;
    transition: all 600ms;
}

.box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: all 300ms;
}

.box > span {
    font-size: 2em;
    font-family: sans-serif;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 1.6;
    
}

.box:hover{
    flex: 50%;
}

.box:hover > img{
    width: 100%;
    height: 100%;
}

@media (max-width:1200px){
    .container{
        display: none;
    }
    .prodrecoh2{
        display: none;
    }

}