.containerp {
  width: 90%;
  margin: 0 auto;
}

.cajadetalles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.imagen {
  max-width: 40%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-width: 350px;
}

.imagen img {
  min-width: 300px;
  width: 70%;
  max-height: 500px;
}

.informacion {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 3;
  min-width: 300px;
  max-width: 30%;
}

.informacion h1 {
  font-size: 3em;
}

.informacion h3 {
  font-size: 1.7em;
  color: rgb(131, 131, 131);
}

.informacion h2 {
  font-size: 4em;
}

.whitespace_3 {
  display: none;
  width: 100%;
  min-height: 30px;
}

.botoncomprar {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
}

.a_ag {
  display: block;
  margin: auto;
}

.botoncomprar .btn_comprar {
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(7, 177, 7);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
  transition: 0.3s all ease;
  letter-spacing: 0.1rem;
  font-size: 1.5em;
  position: relative;
  top: 0;
  right: 0;
  min-width: 300px;
  min-height: 100px;
}

.botoncomprar .btn_comprar:hover {
  box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);
  cursor: pointer;
  background-color: rgb(5, 170, 5);
}

.cajasinopsis {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3%;
  border: 1px solid rgb(175, 175, 175);
}

.cajasinopsis p {
  color: rgb(124, 123, 123);
}

@media (max-width: 1200px) {
  .imagen {
    margin-top: 15%;
  }

  .cajadetalles {
    flex-flow: row wrap;
  }

  .cajasinopsis {
    max-width: 100%;
  }

  .whitespace_3 {
    display: block;
  }
}
